* {
    margin: 0;
    padding: 0;  
    box-sizing: border-box; 
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

/* General */

header {
    background: #1f1f1f;
    padding: 10px 50px;
}

.image-container {
    display: flex;
}

.image-container img {
    width: 100%;
}

/* Header */

#logo {
    width: 50px;
}

#logo img {
    border-radius: 100%;
    border: 2px solid #fff;
}

/* Hero */

#hero {
    position: relative;
}

#hero #computer {
    display: inline-block;
    width: 100%;
}

#hero .info-container {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    display: flex;
    width: 100%;
    color: #fff;
    padding: 0 50px;
}

#hero .info-container #photo {
    width: 140px;
}

#hero .info-container #photo img {
    border-radius: 100%;
}

#hero .info-container .info {
    margin-left: 20px;
    padding-top: 30px;
    font-weight: bold;
    width: calc(100% - 200px);
}

#hero .info-container span {
    display: inline-block;
    color: #b5b5b5;
    margin-bottom: 60px;
}

/* Main */

main {
    padding: 100px;
}

main .social-icons {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    list-style: none;
}

main .social-icons li {
    margin-left: 8px;
}

main .social-icons .social-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    border-radius: 5px;
    width: 100%;
    height: 100%;
}

main .social-icons #linkedin {
    background: #0077b0;
}
main .social-icons #github {
    background: #23272d;
}
main .social-icons #twitter {
    background: #1da1f2;
}
main .social-icons #youtube {
    background: #f70000;
}
main .social-icons #platzi {
    background: #97c93e;
}
